<div class="container">
  <h1>My tasks</h1>
  <% @tasks.each do |task| %>
    <% if task.completed == true %>
      <p><i class="far fa-check-square"></i> <%= link_to task.title, task_path(task) %>
        <%= link_to task_path(task), method: :delete,
      data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </p>
    <% else %>
      <p><i class="far fa-square"></i> <%= link_to task.title, task_path(task) %>
        <%= link_to task_path(task), method: :delete,
      data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </p>
    <% end %>
  <% end %>
  <br>
  <p><i class="fas fa-plus"></i> <%= link_to 'Create task', new_task_path %></p>
</div>



